<div class="header" id="crew-header">
  <div class="left_header">
    <ul>
      <li ui-sref="home"><img src="/img/img/logo_tfp_dark_large.png" alt=""></li>
      <li><div class="dash" id="crew-dash"></div></li>
      <li><h1>AVAILABLE NOW</h1></li>
    </ul>
  </div>

  <div class="right_header" id="crew_right_header">
    <ul>
      <li><i class="fa fa-bars fa-2x" id="crew-ham" aria-hidden="true"></i></li>
      <div class="blank"></div>
    </ul>
  </div>
</div>

<div id="crew-wrapper">

  <div class="crew-content">

    <div class="crew-left">
      <p>follow the crew for</p>
      <h1>exclusive content</h1>
    </div>
    <div class="crew-right">
      <ul >

        <li ng-repeat="c in crew">
          <div class="crew-mem">
            <p>{{c.title}}</p>
            <h1>{{c.firstname}} {{c.lastname}}</h1>
            <div class="follow-crew">
              <p>follow {{c.firstname}}</p>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>


</div>
