<navlink-directive></navlink-directive>
<div class="main_wrapper">
  <audio autoplay loop id="audio">
    <source src="frontend/media/audio/Untitled.mov" type="video/mp4">
    <source src="frontend/media/audio/Untitled.mov" type="video/ogg">
    Your browser does not support the video tag.
  </audio>
  <header-directive></header-directive>
  <!-- <background-directive></background-directive> -->
  <div class="main_content">
    <div class="logo"><img src="frontend/media/img/logo_tfp_dark_large.png" class="invert" alt=""></div>
    <div class="buy-button" id="buy-button"><h1>BUY THE FILM</h1></div>
    <div class="watch-button" id="watch-button"><h1>WATCH TRAILER</h1></div>
  </div>
  <social-directive></social-directive>
  <div class="footer_wrapper">
    <div class="links">
      <ul>
        <li><img src="frontend/media/img/2000px-Speaker_Icon.svg.png" class="invert" id="sound-on" alt=""><img src="frontend/media/img/2000px-Mute_Icon.svg.png" class="invert" id="sound-off" alt=""></li>
        <li>Your Privacy Rights</li>
        <li>Terms of Use</li>
        <li>Press Room</li>
      </ul>
    </div>
  </div>

</div>
