<div class="main_purchase_wrapper">

  <div class="header">
    <div class="left_header">
      <ul>
        <li ui-sref="home"><img src="/img/img/logo_tfp_dark_large.png" class="invert" alt=""></li>
      </ul>
    </div>
  </div>

  <div class="purchase_content">
    <div class="purchase_title">
      <h1>Buy Now</h1>
    </div>

    <div class="purchase_options">
      <div class="digital_download">
        <h3>Digital Download</h3>
        <ul id="digital_list">
          <li><img src="/img/img/retailer_itunes.png" alt=""></li>
          <li><img src="/img/img/retailer_googleplay.png" alt=""></li>
          <li><img src="/img/img/retailer_vimeo_4k.png" alt=""></li>
          <li><img src="/img/img/retailer_vimeo_hd.png" alt=""></li>
          <li><img src="/img/img/retailer_amazon_2.png" alt=""></li>
        </ul>
      </div>
      <div class="collector">
        <h3>3-in-1 collector's edition</h3>
        <div class="dvd_icons">
          <img src="/img/img/buy_option_dvd.png" alt="">
          <img src="/img/img/buy_option_bluray.png" alt="">
          <img src="/img/img/buy_option_digital.png" alt="">
        </div>
        <ul>
          <li><img src="/img/img/retailer_redbullshop.png" alt=""></li>
          <li><img src="/img/img/retailer_redbullshopus.png" alt=""></li>
          <li><img src="/img/img/retailer_asymbol.png" alt=""></li>
        </ul>
      </div>
      <div class="limited_edition">
        <h3>Limited Edition The Fourth Phase Book</h3>
        <ul id="limited_list">
          <li><img src="/img/img/retailer_asymbol.png" alt=""></li>
        </ul>
      </div>
    </div>

    <div class="purchase_exit">
      <div class="purchase_exit_btn" ui-sref="home">
        <h1>return to site</h1>
      <div>
    </div>
  </div>

</div>
