<div class="main_purchase_wrapper">

  <div class="header">
    <div class="left_header">
      <ul>
        <li ui-sref="home"><img src="/img/img/logo_tfp_dark_large.png" class="invert" alt=""></li>
      </ul>
    </div>
  </div>

  <div class="purchase_content">
    <div class="purchase_title">
      <h1>Buy Now</h1>
    </div>

    <div class="purchase_options">
      <div class="digital_download">
        <h3>Digital Download</h3>
        <ul id="digital_list">
          <li id="red-buy-btn"><a href="https://itunes.apple.com/us/movie/the-fourth-phase/id1144132022?ls=1"><img src="/img/img/retailer_itunes.png" alt=""></a></li>
          <li id="red-buy-btn"><a href="https://play.google.com/store/movies/details/The_Fourth_Phase?id=w605hcYAvUc"><img src="/img/img/retailer_googleplay.png" alt=""></a></li>
          <li id="red-buy-btn"><a href="https://vimeo.com/ondemand/thefourthphase4k"><img src="/img/img/retailer_vimeo_4k.png" alt=""></a></li>
          <li id="red-buy-btn"><a href="https://vimeo.com/ondemand/thefourthphase"><img src="/img/img/retailer_vimeo_hd.png" alt=""></a></li>
          <li id="red-buy-btn"><a href="https://www.amazon.com/Fourth-Phase-Travis-Rice/dp/B01KOLK4XM/ref=sr_1_1?s=instant-video&ie=UTF8&qid=1471623628&sr=1-1&keywords=the+fourth+phase"><img src="/img/img/retailer_amazon_2.png" alt=""></a></li>
        </ul>
      </div>
      <div class="collector">
        <h3>3-in-1 collector's edition</h3>
        <div class="dvd_icons">
          <img src="/img/img/buy_option_dvd.png" alt="">
          <img src="/img/img/buy_option_bluray.png" alt="">
          <img src="/img/img/buy_option_digital.png" alt="">
        </div>
        <ul>
          <li id="white-buy-btn"><a href="https://www.redbullshopus.com/products/the-fourth-phase"><img src="/img/img/retailer_redbullshop.png" alt=""></a></li>
          <li id="white-buy-btn"><a href="https://www.redbullshop.com/de/p/The-Fourth-Phase---The-Art-of-Flight-2-3in1-Set/RBM16002"><img src="/img/img/retailer_redbullshopus.png" alt=""></a></li>
          <li id="red-buy-btn"><a href="http://asymbol.co/products/the-fourth-phase-dvd"><img src="/img/img/retailer_asymbol.png" alt=""></a></li>
        </ul>
      </div>
      <div class="limited_edition">
        <h3>Limited Edition The Fourth Phase Book</h3>
        <ul id="limited_list">
          <li id="red-buy-btn"><a href="http://asymbol.co/products/the-fourth-phase-dvd"><img src="/img/img/retailer_asymbol.png" alt=""></a></li>
        </ul>
      </div>
    </div>

    <div class="purchase_exit">
      <div class="purchase_exit_btn" ui-sref="home">
        <h1>return to site</h1>
      <div>
    </div>
  </div>

</div>
