.red {
  color: #da0d5a;
}

#crew-header {
  color: black;

  #crew-dash {
    border-color: black;
  }
}

#crew_right_header {
 #crew-ham {
   color: black;
 }
}

#crew_right_header:hover {
  border: 1px solid black;
  // background-color: red;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#crew-wrapper {
  background-color: white;
  height: 100vh;
  padding: 40px;

  .crew-content {
    // border: 1px solid pink;
    background: url('/img/img/crewtease_bg2.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    height: 80vh;
    display: flex;
    flex-direction: row;
    z-index: 5;

    .crew-left {
      height: 100%;
      width: 50%;
      // border: 1px solid green;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;

      p {
        font-family: "regular";
        font-size: 14px;
        letter-spacing: 2.0px;
      }

      h1 {
        font-size: 24px;
        letter-spacing: 2.0px;
      }

    }

    .crew-right {
      padding-top: 450px;
      // height: 100%;
      width: 50%;
      // border: 1px solid yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: scroll;
      text-transform: uppercase;
      font-family: "regular";
      // padding-right: 17px;

      ul {
        width: 100%;
        // border: 1px solid purple;

        .crew-mem {
          height: 198px;
          border-bottom: 2px solid grey;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          .crew-title {
            letter-spacing: 1.5px;
          }

          h1 {
            font-size: 36px;
            font-family: "bold";
            letter-spacing: 2px;
            margin-top: 5px;
          }

          .follow-crew {
            // border: 1px solid black;
            // border-top: 1px solid red;
            // border-bottom: 1px solid red;
            // border-left: 1px solid red;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 40%;
            height: 40px;
            margin-top: 4%;

            .follow-name {
              font-size: 10px;
              font-family: "bold";
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center;
              // border: 1px solid green;
              height: 100%;
              width: 50%;
              margin-left: 10px;
              padding-left: 3%;
              padding-right: 3%;
              border-top: .5px solid #da0d5a;
              border-bottom: .5px solid #da0d5a;
              border-left: .5px solid #da0d5a;
              // padding: 5px;

              p {
                padding-top: 3px;
              }
            }

            .follow-icon {
              height: 100%;
              width: 40px;
              border: 1px solid #da0d5a;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}


.crew-menu-modal {
  height: 100vh;
  width: 100vw;
  background-color: black;
  // background: radial-gradient(ellipse at center,#080f16 0,#111c27 100%);
  display: none;
  color: white;
  font-family: "regular";
  font-size: 30px;

  #hamburger {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    display: none;
  }

  #menu-close {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    height: 50px;
    width: 50px;
    margin-top: 5px;
  }

  .main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid green;
    color: white;
    padding-top: 200px;
    padding-bottom: 277px;
    text-align: center;

    ul {
      width: 300px;
      // border: 1px solid yellow;
      letter-spacing: 3px;


      li {
        width: 100%;
        // border: 1px solid red;
        margin-top: 10px;
        line-height: 50px;
      }
    }
  }
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.white-filter {
  filter: opacity(0.3);
}
