.header {
  color: rgb(255, 255, 255);
  width: 98%;
  height: 60px;
  margin-top: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .left_header {
    width: 50%;
    display: flex;
    flex-direction: row;

    ul {
      display: flex;
      align-items: center;

      .dash {
        height: 30px;
        width: 1px;
        border-right: 1px solid white;
      }

      li {
        margin-left: 20px;
        display: flex;
    
        img {
          color: rgb(255, 255, 255);
          height: 40px;
          width: 125px;
        }

        h1 {
          letter-spacing: 2px;
          font-size: 13px;
        }
      }
    }
  }

  .right_header {
    border: 1px solid lightgrey;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;

  }

  .right_header:hover {
    border: 1px solid white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}


/*Filter styles*/
.invert { filter: brightness(0) invert(1); }
