.header {
  color: rgb(255, 255, 255);
  width: 98%;
  height: 60px;
  margin-top: 10px;
  // border: 2px solid green;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .left_header {
    // border: 1px solid yellow;
    width: 50%;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      // justify-content: space-around;

      .dash {
        height: 30px;
        width: 1px;
        border-right: 1px solid white;
      }

      li {
        margin-left: 20px;
        display: flex;
        // justify-content: space-between;
        // width: 50%;
        // border: 1px solid red;

        img {
          // border: 1px solid black;
          color: rgb(255, 255, 255);
          height: 40px;
          width: 125px;
        }

        h1 {
          letter-spacing: 2px;
          font-size: 13px;
        }
      }
    }
  }

  .right_header {
    border: 1px solid lightgrey;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;

    #nav-icon3 {
      // border: 1px solid yellow;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      width: 40px;
      height: 45px;
      // position: relative;
      margin: 50px auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 60%;
    margin-top: 25%;
    margin-left: 20%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  }

  .right_header:hover {
    border: 1px solid white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}


/*Filter styles*/
.invert { filter: brightness(0) invert(1); }
