@import "fonts";

.regular{
  font-family: "regular";
}

.condensed{
  font-family: "condensed";
}

.bold{
  font-family: "bold";
}

body {
  background-color: black;
}

.main_wrapper {
  background: url('/frontend/media/img/SERFAS-travis-rice-interview-alaska-snowboarding-enviro.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-family: "regular";

  .header {
    position: fixed;
  }



  .main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid green;
    color: white;
    padding-top: 200px;

    img {
      height: 100px;
      width: 450px;
    }

    h1 {
      color: white;
    }

    .buy-button {
      border: 1px solid red;
      background-color: red;
      width: 200px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      font-size: 12px;
      letter-spacing: 1.5px;
    }

    .watch-button {
      border: 1px solid white;
      width: 200px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      font-size: 12px;
      letter-spacing: 1.5px;
    }
  }

  .footer_wrapper {
    width: 48%;
    // border: 1px solid yellow;
    display: flex;
    position: absolute;
    margin-top: -80px;
    margin-left: 50px;
    color: lightgrey;
    font-size: 12px;
    font-family: "regular";
    // flex-direction: row;

    .links {
      width: 100%;
      display: flex;
      // border: 1px solid green;
      // flex-direction: row;

      #sound-off {
        display: none;
      }

      ul {
        // border: 1px solid blue;
        width: 25%;
        margin-top: 20px;
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        li {
          // display: flex;
          // flex-direction: row;
          img {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }

  .team {
    // border: 1px solid green;
    margin-top: -26px;

    .riders {
      font-family: "condensed";
      // border: 1px solid yellow;
      height: 50vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background: url('/frontend/media/img/riderstease_bg (1).jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      img {
        height: 100px;
        width: 620px;
        // border: 2px solid orange;
        margin-left: 175px;
      }

      button {
        height: 50px;
        width: 175px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        border: 1px solid white;
        background-color: white;
      }

      #riders-button {
        margin-top: -30px;
        margin-left: 425px;
      }

      #riders-button:hover {
        background-color: red;
        border: 1px solid red;
        color: white;
      }
    }

    .crew {
      // border: 1px solid red;
      height: 50vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: url('/frontend/media/img/crewtease_bg.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      img {
        // border: 2px solid orange;
        height: 100px;
        width: 475px;
        margin-left: 300px;
      }

      button {
        height: 50px;
        width: 175px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        border: 1px solid white;
        background-color: white;
      }

      #crew-button {
        margin-left: 225px;
      }

      .crew button:hover {
        background-color: red;
        border: 1px solid red;
        color: white;
      }
    }
  }
}

.menu-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgbd(0,0,0, 0.8);
  background: radial-gradient(ellipse at center,#080f16 0,#111c27 100%);
  display: none;
  color: white;
  font-family: adriane,serif;
  font-size: 30px;

  #hamburger {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    display: none;
  }

  #menu-close {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    height: 50px;
    width: 50px;
  }

  .main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid green;
    color: white;
    padding-top: 200px;
    padding-bottom: 277px;
    text-align: center;

    ul {
      width: 300px;
      // border: 1px solid yellow;
      letter-spacing: 3px;


      li {
        width: 100%;
        // border: 1px solid red;
        margin-top: 10px;
        line-height: 50px;
      }
    }

  }


  .footer_wrapper {
    width: 50%;
    // border: 1px solid yellow;
    display: flex;
    position: absolute;
    margin-top: -40px;
    margin-left: 50px;
    color: lightgrey;
    font-size: 12px;
    font-family: "regular";
    // flex-direction: row;

    .links {
      width: 100%;
      display: flex;
      // flex-direction: row;

      #sound-off {
        display: none;
      }

      ul {
        // border: 1px solid green;
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        li {
          // display: flex;
          // flex-direction: row;
          img {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }
}
