.navlinks {
  color: red;
  padding: 10px;
  font-size: 10px;
  font-weight: bolder;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border: 2px solid red;

  .left {
    width: 50%;
    // border: 1px solid green;
    ul {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      li {
        
      }
    }
  }
}
