.riders_wrapper {
  background: url('/img/img/riders_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-family: "regular";
  display: flex;
  flex-direction: column;

  .header {
    color: black;

    .dash2 {
      height: 30px;
      width: 1px;
      border-right: 1px solid black;
    }


    .riders-ham:hover {
      color: black;
      border: 1px solid black;
    }
  }

  .riders_content {
    // border: 2px solid blue;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    font-family: "bold";

    .riders-left {
      // border: 1px solid green;
      width: 50%;
      height: 97vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;

      p {
        font-family: "regular";
        font-size: 14px;
        letter-spacing: 2.0px;
      }

      h1 {
        font-size: 24px;
        letter-spacing: 2.0px;
      }

    }

    .riders-right {
      // border: 1px solid orange;
      width: 50%;
      height: 99vh;
      overflow: scroll;

      .riders {

        li {
          // border: 1px solid red;
          height: 160px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;


          img {
            height: 100%;
            width: 555px;
            opacity: 0.6;
            z-index: auto;

          }
          img:hover {
            opacity: 1;
          }

          p {
            // position: absolute;
            z-index: 1;
            margin-top: -90px;
            font-family: "condensed";
            font-size: 34px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
          }

        }
      }
    }
  }


  .riders_footer_wrapper {
    width: 48%;
    border: 1px solid yellow;
    display: flex;
    position: absolute;
    margin-top: -80px;
    margin-left: 50px;
    color: lightgrey;
    font-size: 12px;
    font-family: "regular";
    // flex-direction: row;

    .links {
      width: 100%;
      display: flex;
      // border: 1px solid green;
      // flex-direction: row;

      #sound-off {
        display: none;
      }

      ul {
        // border: 1px solid blue;
        width: 25%;
        margin-top: 20px;
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        li {
          // display: flex;
          // flex-direction: row;
          img {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }
}

.riders-menu-modal {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background: radial-gradient(ellipse at center,#080f16 0,#111c27 100%);
  display: none;
  color: white;
  font-family: "regular";
  font-size: 30px;

  #hamburger {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    display: none;
  }

  #menu-close {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    height: 50px;
    width: 50px;
    margin-top: 5px;
  }

  .main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid green;
    color: white;
    padding-top: 200px;
    padding-bottom: 277px;
    text-align: center;

    ul {
      width: 300px;
      // border: 1px solid yellow;
      letter-spacing: 3px;


      li {
        width: 100%;
        // border: 1px solid red;
        margin-top: 10px;
        line-height: 50px;
      }
    }

  }


  .footer_wrapper {
    width: 50%;
    // border: 1px solid yellow;
    display: flex;
    position: absolute;
    margin-top: -40px;
    margin-left: 50px;
    color: lightgrey;
    font-size: 12px;
    font-family: "regular";
    // flex-direction: row;

    .links {
      width: 100%;
      display: flex;
      // flex-direction: row;

      #sound-off {
        display: none;
      }

      ul {
        // border: 1px solid green;
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        li {
          // display: flex;
          // flex-direction: row;
          img {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }
}
