
.social_wrapper {
  height: auto;
  margin-top: 80px;
  // margin-bottom: -50px;
  padding-right: 25px;
  // border: 1px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  font-family: "regular";

  .hash {
    border-bottom: 1px solid grey;
    // background-color: grey;
    height: 0.5px;
    width: 20px;
    padding-right: 20px;
  }

  .title {
    // border: 1px solid blue;
    width: 80%;
    display: flex;
    justify-content: flex-end;

  }

  .redbrain {
    padding-left: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .redbull {
      img {
        height: 31px;
        width: 80px;
        padding-bottom: 25px;
      }
    }

    .brainfarm {
      img {
        height: 150px;
        width: 150px;
        padding-left: 20px;
        padding-bottom: 25px;
      }
    }
  }

  .follow-share {
    // border: 1px solid red;
    width: 100%;
    // margin-top: -25px;
    // margin-right: %;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .follow {
      width: 33%;
      // border: 1px solid limegreen;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      .follow-button {
        border: 1px solid red;
        height: 50px;
        width: 50px;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .follow-button:hover {
        background-color: red;
      }
    }

    .share {
      width: 33%;
      margin-top: 2.5px;
      // border: 1px solid limegreen;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      .share-button {
        border: 1px solid red;
        height: 50px;
        width: 50px;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .share-button:hover {
        background-color: red;
      }
    }
  }
}
