<div class="navlinks">

  <div class="left">
    <ul>
      <li id="show"><a href="http://www.redbull.com/us/en">REDBULL.COM</a></li>
      <li id="hide"><a href="http://www.redbull.tv/">RED BULL TV</a></li>
      <li id="hide"><a href="http://www.redbull.com/us/en/athletes">ATHLETES</a></li>
      <li id="hide"><a href="http://www.redbull.com/us/en/events">EVENTS</a></li>
    </ul>
  </div>

  <div class="right">
    <ul>
      <li id="hide"><a href="http://energydrink-us.redbull.com/">PRODUCTS + COMPANY</a></li>
    </ul>
  </div>

</div>
