<div class="social_wrapper">

  <div class="redbrain">
    <div class="redbull">
      <img src="/img/img/Red-Bull-Media-House-Logo-10.png" class="invert" alt="">
    </div>
    <div class="brainfarm">
      <img src="/img/img/brainfarm-logo-200x200.png" class="invert" alt="">
    </div>
  </div>

  <div class="follow-share">
    <div class="follow">
      <div class="follow-button" id="follow-button"><i class="fa fa-plus fa-lg fa-2x invert" aria-hidden="true"></i></div>
      <!-- <div class="hash"></div> -->
      <div class="title">FOLLOW FILM</div>
    </div>

    <div class="share">
      <div class="share-button" id="share-button"><i class="fa fa-code-fork fa-lg fa-2x invert " aria-hidden="true"></i></div>
      <!-- <div class="hash"></div> -->
      <div class="title">SHARE</div>
    </div>
  </div>

</div>
